<div class="row">
    <form class="col s12">
      <div class="row">

        <h3 class="center">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-field col s10 offset-s1 l6 offset-l3">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        

        <div class="input-field col s10 offset-s1 l6 offset-l3">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        
        <% if devise_mapping.rememberable? -%>
        

          <div class="center field form-group col s12 l6 offset-l3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      
        <div class="center actions form-group col s12 l6 offset-l3">
          <%= f.submit "Log in", class: 'btn btn-success' %>
        </div>
      <% end %>
      <div class="center links form-group col s12 l6 offset-l3">
        <%= render "devise/shared/links" %>
      </div>
      </div>
    </form>
  </div>
</div>