<div class="row">
  <div class="col s12 l12 center">
    <h3><%= @school.name %></h3>
    </div>
    <hr/> 
    </br>
    </br>
  <div class="col s12 l6"><span class="flow-text">
  

<%= image_tag @school.image_url %>

<p>
  <strong>Country:</strong>
  <%= @school.country %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @school.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @school.website %>
</p>

<div class="form-group">
  <%= link_to "Write a Review", new_school_review_path(@school), class: "waves-effect waves-light btn" %>
</div>

</span></div>

<div class="col s12 l6"><span class="flow-text">
  <% @reviews.each do |review| %>
    <p>Rating: <%= review.rating %> </p>
    <p>Review: <%= review.comment %> </p>
  <% end %>
</span></div>
  

<div class="col s12 l12 center">  
  <%= link_to 'Edit', edit_school_path(@school) %> |
  <%= link_to 'Back', schools_path %>
</div>