<header>
  <nav>
    <div class="nav-wrapper blue darken-3">
      <a href="/" class="brand-logo center">ScubaGlobal</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
      <ul class="right hide-on-med-and-down white-text">
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
        
        <% if user_signed_in? %>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>

        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
        
        <% if user_signed_in? %>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>

        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>



