<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified JQuery -->
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

  <%= csrf_meta_tags %>
  <%= render 'layouts/bootstrap' %>
</head>
<body>

<%= render 'layouts/nav' %>
<%= render 'layouts/alerts' %>'



<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
